--- Constraints for student_clap_assignments ---
NAME: student_clap_assignments_clap_test_id_fkey
DEF: FOREIGN KEY (clap_test_id) REFERENCES clap_tests(id) ON DELETE CASCADE
--------------------
NAME: student_clap_assignments_pkey
DEF: PRIMARY KEY (id)
--------------------
NAME: student_clap_assignments_status_check
DEF: CHECK (((status)::text = ANY ((ARRAY['assigned'::character varying, 'started'::character varying, 'completed'::character varying, 'expired'::character varying])::text[])))
--------------------
NAME: student_clap_assignments_student_id_clap_test_id_key
DEF: UNIQUE (student_id, clap_test_id)
--------------------
NAME: student_clap_assignments_student_id_fkey
DEF: FOREIGN KEY (student_id) REFERENCES users(id) ON DELETE CASCADE
--------------------
